---
import type { MarkdownLayoutProps } from 'astro'
import Metadata from './Metadata.astro'
import { getCollection } from 'astro:content'

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  written: string
}>

const blogCollection = await getCollection('blog')
const { frontmatter, url } = Astro.props

if (!url) throw new Error('URL missing')

const blog = blogCollection.find((b) => url.endsWith(b.id))
if (!blog) throw new Error(`Blog not found ${url}`)

const rawContent = blog.body
if (!rawContent) throw new Error('Blog missing body')
---

<Metadata title={frontmatter.title} description={frontmatter.description}>
  <header>
    <h1>{frontmatter.title}</h1>
    <aside>
      {frontmatter.description}
      <br />
      <i>
        {
          blog.data.written.toLocaleDateString('en-US', {
            day: 'numeric',
            month: 'short',
            year: 'numeric',
          })
        }
        &mdash;
        {Math.round(rawContent.length / 7 / 240)}
        minute read
      </i>
    </aside>
  </header>
  <main>
    <article class="md">
      <slot />
    </article>
  </main>
  <footer>
    <aside><a href="/blog">BLOG</a></aside>
    <p>
      A <a href="/">Harlem512 Production</a>
    </p>
  </footer>
</Metadata>
